.calculator {
	margin: 50px auto;
	padding: 50px;
	max-width: 500px;
	border: 1px solid #ccc;
	border-radius: 20px;
	text-align: center;
}

.redirect-button-div{
	margin: 30px auto;
	padding: 20px;
	text-align: center;
}

.redirect-button {
	text-align: center;
	padding: 10px;
	background-color:beige ;
	color:black;
	cursor: pointer;
	border-radius: 10px;
	border: 2px solid;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.redirect-button:hover{
	background-color:rgb(197, 197, 161) ;
}

.calculate-buttons-div{
	padding: 10px;
	display:grid;
}

.calculate-button {
	padding: 10px;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-weight:bold;
}

.calculate-button:hover{
	background-color: #0069d9;
}

.main-text{
	text-align: center;
}

.price-label{
	text-align: center;
	font-size: 3vh;
}

.result-span{
	font-size: 4vh;
}

@media only screen and (max-width:1020px) {
	.calculator{
	margin: 15px auto;
	padding: 25px;
	max-width: 95%;
	border: 4px solid #ccc;
	border-radius: 20px;
	text-align: left;
	height:70vh;
	font-size: 24px;
	}
	
	.redirect-button-div{
		margin: 30px auto;
		padding: 20px;
		text-align: center;

	}
	
	.redirect-button {
		text-align: center;
		padding: 10px;
		background-color:beige ;
		color:black;
		cursor: pointer;
		border-radius: 10px;
		border: 4px solid;
		font-size: 40px;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
	}
	
	.redirect-button:hover{
		background-color:rgb(197, 197, 161) ;
	}
	
	.calculate-buttons-div{
		padding: 10px;
		display:grid;
	}
	
	.calculate-button {
		padding: 10px;
		border-radius: 5px;
		background-color: #007bff;
		color: #fff;
		cursor: pointer;
		margin-bottom: 10px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:medium;
		font-weight:bold;
		font-size: 34px;
	}
	
	.calculate-button:hover{
		background-color: #0069d9;
	}
	.labels_inputs-div{
		font-size: 50px;
	}

	.inputs{
		height: 38px;
		width: 420px;
	}

	input[type="number"]{
		font-size: 24px;
	}

	.price-label{
		text-align: center;
		font-size: 80px;
	}
}

body {
    background-color: antiquewhite;
}

h1 {
	margin-top: 0;
}

label {
	display: inline-block;
	margin-bottom: 10px;
}

input {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
}



span {
	font-weight: bold;
	font-size: 24px;
}